body{
    background-image: url("../background-image.png");
    box-shadow:  inset 0px 1px 0px 0px rgb(0 0 0 / 5%), inset 0px 2px 3px 0px rgb(0 0 0 / 10%);;
    background-repeat: repeat;
    background-color: white;
    background-position-x: left;
    background-position-y: top

}

.quiz{
    width: 500px;
    height: 300px;
}