.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
body{
    margin: 0;
    background-image: url("../background-image.png");
    background-repeat: repeat;
    background-position-x: left;
}

ul{
    list-style-type: none;
    display: flex;

}
.header a{
    text-decoration: none;
    padding: 0 1em;
    color: whitesmoke;
}