.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img-noise-361x370\ \(2\).png");
    color: whitesmoke;
    background-color: teal;
}