.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../grid.png");
    color: whitesmoke;
    background-color: #121212;
}